div[data-grid-height="984"] {
  [data-sizey="1"] .icon-background {
    top: 0.1em;
  }

  [data-sizey="2"] .icon-background {
    top: 0.75em;
  }

  [data-sizey="3"] .icon-background {
    top: 1.5em;
  }
}
