// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #000;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-list {

  background-color: $background-color;
  vertical-align: top;

  .title {
    color: $title-color;
  }

  ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }

  ol {

    counter-reset: li;
    list-style: none;
    *list-style: decimal;

    > li {
      position: relative;
      padding-left: 50px;
      min-height: 50px;
    }

    > li:before {
      content: counter(li);
      counter-increment: li;
      color: #fff;
      background-color: rgba(255, 255, 255, 0.1);
      border-color: #357ebd;
      border-radius: 50%;
      font-size: 14px;
      width: 38px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }

  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;
  }

  .value {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: $value-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
  }

}